<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta name="author" content="Sen" />
        <meta
            name="description"
            content="Page de connexion"
        />

        <title>
          Une Petite Voiture Noire | Connexion
        </title>
        <link rel="stylesheet" href="/static/administrative_pages/base.css" />
    </head>

    <body>
        <main>
          <h2>Se connecter</h2>
          <form method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Se connecter</button>
          </form>
        </main>
    </body>
</html>