{% load static %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="author" content="{{ AUTHOR_NAME }}" />

        <title>
            {% block title %} Placeholder {% endblock %}
        </title>
        <link rel="stylesheet" href="/static/administrative_pages/base.css" />
    </head>

    <body>
        <main>{% block content %} {% endblock %}</main>
    </body>
</html>
