@import "./voiture_noire/base.css";

.section-story {
    color: var(--jet-black);
}

.story-header-btns {
   width: 100%;
   display: flex;
   flex-flow: row; 
   justify-content: end;
   gap: 5px;

   a, button {
    margin: 0;
   }
}

.header-story {
    text-align: center;
    margin-top: 6em;
    margin-bottom: 4em;

    .header-story-title {
        font-size: 3em;
        margin-bottom: 0;
        line-height: 1em;
    }
}

#chapter-current-reactions {
    display: flex;
    flex-flow: row;
    justify-content: end;
}

.story-chapter-title {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 3em;
}

.story-reactions {
    display: flex;
    flex-flow: row;
    justify-content: end;

    button {
        margin: 2px;
        
        img {
            filter: brightness(0) saturate(100%) invert(70%) sepia(55%) saturate(412%) hue-rotate(185deg) brightness(99%) contrast(92%);
        }
        &:active {
            transform: scale(0.98);

            img {
                filter: brightness(0) saturate(100%) invert(79%) sepia(53%) saturate(1059%) hue-rotate(229deg) brightness(92%) contrast(87%);
            }
        }
    }

    .reaction-block {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        list-style-type: none;
        margin-right: 2vw;
    }

    .reaction-selected {
        background-color: var(--rose-red);
    }
}

.chapter-nav-elements {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.vn-archives-btn-or-a {
    margin: 2em 0.2em 2em 0.2em;
    padding: 10px;
    align-self: center;
    background-color: var(--midnight-blue);
    color: var(--nude);
    border: 3px double var(--misty-blue);
    width: fit-content;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
}

.chapter-nav-link {
    text-decoration: none;
    color: var(--ivory) !important;
}

.section-story-notes {
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;

    h3 {
        margin-bottom: 0;
    }

    .story-author-note, .chapter-author-note {
        color: var(--midnight-blue);
        font-size: 0.9em;
    }
}

@media screen and (max-width: 500px){
    .story-reactions {
        justify-content: space-between;

        ul {
            padding-left: 0px;
        }
    }
}

